<div class="card" *ngIf="getCurrentStep(0)">
  <div class="drag card-header callout callout-info font-weight-bold">
    <label>Informazioni cliente</label>
    <div class="card-actions">
      <button type="button" *ngIf="!this.isNewClient" class="btn" (click)="this.isNewClient = !this.isNewClient"> Cambia
        a Nuovo Cliente
      </button>
      <button type="button" *ngIf="this.isNewClient" class="btn" (click)="this.isNewClient = !this.isNewClient"> Cambia
        a Cerca Cliente Esistente
      </button>
    </div>
  </div>
  <div class="card-body" *ngIf="!isNewClient">
    &nbsp;
    <div class="columns">
      <div class="column col-12">
        <ngx-table [configuration]="configuration" [data]="tblData" [columns]="columns"> </ngx-table>

      </div>
    </div>


  </div>


  <div class="card-body" *ngIf="isNewClient">
    <div class="form-row">
      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input type="text" required matInput [formControl]="requiredFormControl" [(ngModel)]="client.nome"
              name="nome" #Nome>
            <mat-error *ngIf="requiredFormControl.hasError('required')">
              Nome è <strong>obbligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cognome</mat-label>
            <input type="text" required matInput [formControl]="requiredFormControl" [(ngModel)]="client.cognome"
              name="Cognome" #Nome>
            <mat-error *ngIf="requiredFormControl.hasError('required')">
              Cognome è <strong>obbligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefono</mat-label>
            <input type="text" required matInput [formControl]="telefonoFormControl" [(ngModel)]="client.telefono"
              name="Telefono" #Telefono>
            <mat-error *ngIf="telefonoFormControl.hasError('required')">
              Telefono non valido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" required="false" matInput [formControl]="emailFormControl" [(ngModel)]="client.mail"
              name="email" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email')">
              Email non valida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Comune</mat-label>
            <input type="text" required="false" matInput [(ngModel)]="client.comune"
              name="comune" #Comune>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Provincia</mat-label>
            <input type="text" required="false" matInput [(ngModel)]="client.provincia"
              name="provincia" #Provincia>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Regione</mat-label>
            <input type="text" required="false" matInput [(ngModel)]="client.regione"
              name="regione" #Regione>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Via</mat-label>
            <input type="text" required="false" matInput [(ngModel)]="client.via"
              name="via" #Via>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Civico</mat-label>
            <input type="text" required="false" matInput [(ngModel)]="client.civico"
              name="civico" #Civico>
          </mat-form-field>
        </div>
      </div>

    </div>
  </div>

</div>



<div class="card" *ngIf="getCurrentStep(1)">
  <div class="drag card-header callout callout-info font-weight-bold">
    <label>Informazioni base</label>
    <div class="card-actions">
    </div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Riferimento</mat-label>
            <input type="text" required="false" matInput [(ngModel)]="workOrder.riferimento" name="Riferimento"
              #Riferimento>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tipo Oggetto</mat-label>
            <mat-select [(ngModel)]="workOrder.tipoOggetto" required [ngModelOptions]="{standalone: true}" name="tipoOggetto"
              #TipoOggetto>
              <mat-option *ngFor="let perm of this.tipoOggetti" [value]="perm.value">
                {{perm.text}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="requiredFormControl.hasError('required')">
              Tipo Oggetto è <strong>obbligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Modello</mat-label>
            <input type="text" required matInput [formControl]="requiredFormControl" [(ngModel)]="workOrder.modello"
              name="modello" #Modello>
            <mat-error *ngIf="requiredFormControl.hasError('required')">
              Modello è <strong>obbligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Difficoltà</mat-label>
            <mat-select [(ngModel)]="workOrder.difficolta" required [ngModelOptions]="{standalone: true}" name="difficolta"
              #Difficolta>
              <mat-option *ngFor="let perm of this.difficolta" [value]="perm.value">
                {{perm.text}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="requiredFormControl.hasError('required')">
              Difficoltà è <strong>obbligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Accessori aggiuntivi</mat-label>
            <input type="text" required="false" matInput [(ngModel)]="workOrder.accessori" name="accessori" #Accessori>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Difetto da controllare</mat-label>
            <input type="text" required="false" matInput [(ngModel)]="workOrder.difetto" name="Riferimento" #Riferimento>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="input-group">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Difetto fisso/saltuario</mat-label>
            <mat-select [(ngModel)]="workOrder.difficolta" required [ngModelOptions]="{standalone: true}" name="difficolta"
            #Difficolta>
            <mat-option value="1">Fisso</mat-option>
            <mat-option value="0">Saltuario</mat-option>
          </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div style="float: right;">
      <button mat-raised-button color="accent" *ngIf="!getCurrentStep(3)" (click)="clickNext()">Avanti</button>
      <button mat-raised-button color="accent" *ngIf="getCurrentStep(3)" (click)="clickNext()">Salva</button>
    </div>
    <div style="float: left;">
      <button mat-raised-button color="primary" (click)="clickBack()">Indietro</button>
    </div>
  </div>
</div>


<!-- <div class="form-group col-md-4">
    <div class="input-group">
      <mat-form-field appearance="fill">
        <mat-label>Permessi</mat-label>
        <mat-select [(ngModel)]="permission" required [ngModelOptions]="{standalone: true}" name="permission"
          #Permission>
          <mat-option *ngFor="let perm of permissions" [value]="perm.value">
            {{perm.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div> -->

  <ng-template #actionEdit let-row let-rowIndex="rowIndex">
    <div class="btn btn-primary" (click)="selectClient(rowIndex)">Seleziona</div>
    &nbsp;
    <div class="btn btn-primary" (click)="editClient(rowIndex)">Modifica</div>
  </ng-template>